h1 {
    text-align: center;
    color: rgb(223, 220, 231);
    font-family: fantasy;
    font-size: 60px;

}

body {
    background-color:grey;
}

div {
    text-align: center;
}

input {
    margin-bottom: 3%;
    padding: 1%;
    
}

label {
    color: white;
    font-family: Times New Roman;
    font-size: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


